

<h2><%= link_to 'Sign up', new_user_path  %></h2>

<h2><%= link_to 'Sign in', login_path  %></h2>


<a href="#" class="tooltip-demo tooltip" title="goodbye">Hover me for a tooltip</a>

<a href="#" rel="tooltip" title="hello">hover on me</a>

<span title="test_me" class="tooltip-test">
  fda
</span>

<h2 title="qtip" class="tooltip-test">hello</h2>


<a href="#" title="qtip" class="tooltip-test">Hover me qtip</a>
wakk wakka
