

<h2><%= link_to 'Sign up', new_user_path  %></h2>

<h2><%= link_to 'Sign in', login_path  %></h2>

<!--
<a href="#" class="tooltip-demo tooltip" data-original-title="goodbye">Hover me for a tooltip</a>

<a href="#" rel="tooltip" data-original-title="hello">hover on me</a>

 -->
